
.navi-ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 40px;
    font-family: arial,sans-serif;
    line-height: 24px;
}

.navilogo{
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
}

.nav-adv{
    display: flex;
    padding-top: ;
    margin: -30px;
    padding-right: 35px;

}

.navi-item{
    margin: 10px;
}

.center-div{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 180px;
}

.searchbar{
    display: block;
    margin-left: auto; 
}

.text-input{
    display: block;
    z-index: 3;
    height: 44px;
    outline: none;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: calc(632px + 6px);
    width: 600px;
    max-width: 584px;
    margin-top: 8px;
    padding-left: 40px;
}

.search-button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: -145px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.AdvSearch{
    color: #d93025;
    font-size: 20px;
    line-height: 24px;
    margin: 25px 35px;
    font-family: arial,sans-serif;
}

.Line1{
    border-top: 1px; color: solid #ebebeb;
}

.p-adv{
font-size: 16px;
color: #333333;
}

.div-adv{
    margin: 50px;
}

.row-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 22px;
}

.left{
    width: 200px;
}

.right{
    width: 380px;   
}

.parrafoadv{
    padding-top: 15px;
   font-size: 13px;   
   vertical-align: middle;
}

.btn-primary{
    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
 }
 .button-div{
    display: flex;
    justify-content: flex-end;
    width: 580px;
    margin-top: 25px;
 }

a:link{color: rgba(0,0,0,.87); text-decoration: none; }
a:visited{color: rgba(0,0,0,.87); text-decoration: none;}
a:hover{color: rgba(0,0,0,.87); text-decoration: underline;}
a:active{color: rgba(0,0,0,.87); text-decoration: none;}
